.container {
    width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 12px;
    color: #333;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  

  .eventoinfo {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #aaa0a0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
 
  .titulo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #333;
    text-align: center;
  }
  
  .subtitulo {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 18px;
    color: rgb(92, 87, 87);
    font-weight: 500;
    text-decoration: underline;
  }
  
  .eventofecha, .eventohora, .eventolugar {
    font-size: 18px;
    margin-bottom: 8px;
    color: #555;
  }
  

  .descevento {
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    margin-top: 15px;
    color: #333;
    border-radius: 8px;
  }
  
  .lista {
    margin-left:25px;
  }
  
  .orador {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;

  }

  