.header {
  background-color: #34495e;
  color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
  height: 50px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
}

.nav a[aria-current="page"] {
  font-weight: 700;
  text-decoration: underline;
}

.nav a:hover {
  color:#e67e22;
}
