.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.eventItem a, .eventItem .next-link {
  text-decoration: none; 
}


.title {
  color: #602B5F;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
}



.eventList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.eventItem {
  background-color: #D9D8EA;
  border: 2px solid #9D82A5;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.eventItem:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.eventLink {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px;
}

.eventContent {
  padding: 10px;
}

.eventName {
  color: #602B5F;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.eventDescription {
  font-size: 1rem;
  color: #4A4A4A;
  margin-bottom: 15px;
}

.eventDate, .eventPrice {
  font-size: 1rem;
  color: #9D82A5;
}

.eventDate strong, .eventPrice strong {
  color: #602B5F;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #602B5F;
  font-family: 'Arial', sans-serif;
}
